.Label {    
    display: block;
    margin: 10px auto;    
    font-weight: bold;
}
.Input {
    /* display: block;
    width: 15%;
    box-sizing: border-box;
    border: 1px solid black;
    outline: none;
    font: inherit;
    margin: auto; */
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    padding: 6px 10px;
    width: 250px;
    //display: block;
    //width: 100%;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Invalid {
    border: 1px solid red;
    background-color: #fda49a;
}