.App {
  margin: 0 auto;
  width: 99%;
  height: 100%;
}
.appHeader {
  display: flex;
}
.appHeader div{  
  flex: 1;  
}
.appHeader>*:last-child {
  text-align: right;
  display: inline-block;
}
.logo {  
  width: 50px;
  height: 50px;
  margin-top: 15px;
}
h1 {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}
.appBar {
  width: 100%;
  height: 10px;
  background-color: #61DBFB;
}
.cardBody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
}
.cardBody div {  
  flex-wrap: wrap;
}
.btnCounter {  
  color: #fff;
  background-color: #10a1b7;
  border-color: #10a1b7;
  -moz-user-select: none;  
  border: 1px solid transparent;  
  padding: .375rem .75rem;
  margin-top: 10px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;  
}
.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  color: #212529;
  background-color: #f8f9fa; 
}
.navigation ul{
  list-style: none;    
  text-align: right;
}
.navigation li {
  display: inline;
  margin: 20px;
}
.navigation a {
  text-decoration: none;
  color: black;
}

.navigation a:hover,
.navigation a:active,
.navigation a.active {
   color: #fa923f;
}
