.ButtonBar {  
  margin-top: 10px;
  margin-bottom: 10px;  
  display: inline-block;
  width: 50%;
}

.ButtonBar div {  
  width: 100px; 
  background: #61DBFB;
  margin-left:10px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;  
  user-select: none;
  color: grey;
  display: inline-block;
}
.ButtonBar div:hover {
  background: #61DBFB;
  font-weight: bold;
  color: white;
}
