.card {
    margin-top: 20px;
    width: 400px;
    height: 300px;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
}
.cardTable {
  margin: 0 auto;
  width: 95%;
}
.cardHeader {
    margin-top: 8px;
    width: 100%;
    font-weight: bold;
}
.cardCmPosition {
    text-align: right;
}
.cardCheckmark {    
    height: 15px;
    width: 15px;   
  }
hr {
    width: 100%;
}
.blackText{    
    color: black;
}  
.redText{    
    color: red;
}